.pain008navigationroute {
  color: black;
  font-size: 12px;

  margin-left: -79.5%;
  margin-top: 12px;

}




.accompayningnote-table  thead th {
  background-image: linear-gradient(#4a5158, #111314);
  font-size: 12px;
  color: wh8ite;
  padding-bottom: 0.5%;
}
.taccompayningnote-table  tbody td {
  font-size: 12px;
}