.tablestyle thead th{
  background-image: linear-gradient(#4a5158, #111314);
  color: white;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  border: white 1px solid;
}
.tablestyle tbody tr  td{
 
 white-space: nowrap;
  text-align: center;

}

.ErrorMessage {
  color: red;
 font-size: 15px;

}


.input-width{
width: 15.6%;
}

.stypeDatepicker{
  color: white;
  background-color: "DodgerBlue";
  padding: 10px ;
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-sm {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
 
}

.from-table thead th{
  background-color: #041f45;
  border-color: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
 
}
.from-table tbody tr{
  background-color: white;
  border-color: black;
  border: 1px solid black;
  
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;

}



.from-date-pop{
  background-color: white !important;
}

.edit-icon{
  float: right;
  /* margin-bottom: -83px; */
  margin-right: 10px;
  margin-top: -33px;
}
.from-picker {

  background-image: url("../../../Assets/image/edit.png") !important;
  background-repeat: no-repeat;
  border: 0;
}
.from-picker{

  margin-top: 0px;
  margin-right: 184px;
  display: block;
  width: 100%;
  padding: 0.375rem 3rem 0.375rem 0.75rem !important;
  -moz-padding-start: calc(0.75rem - 3px) !important;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #212529;
  background-color: #fff;
  background-size: 20px 20px !important;
  border-radius: 0 !important;
  background-position: right center !important;
}
.from-picker{
  display: block;
  width: 100%;
}

.config-dropdownCss {

  background-image: url("../../../Assets/image//carat.png") !important;
  display: block;
  width: 100%;
  padding: 0.378rem 3rem 0.375rem 0.75rem !important;
  -moz-padding-start: calc(0.75rem - 3px) !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #212529;
  background-color: #fff;
  background-size: 33px 33px !important;
  border-radius: 0 !important;
  background-position-x: right;
  background-position-y: 0px;

}