.paginationBttns{
  width: 40%;
  height: 17px;
  list-style: none;
  display: flex;
  justify-content: center;
  

}

.paginationDisabled{
  background-color: #d3d2dd !important;
  cursor: not-allowed !important;
 
}

.paginationBttns a {
  padding: 6px;
  margin: 1px;
  border: 1px solid #0b0c0c;
  color: white;
  list-style: none;
  border-radius: 12%;
  cursor: pointer;
  /* background-color: white; */
  background-color: #91bed5;
}
.paginationBttns a:hover{
  background-color:white;
  color: black;

}

.mainPagination{
  margin: 14px -63px 0 -10px;
  height: 10px;
  float: right;
  z-index: -2px;
margin-right: -33px;
}

.previousBttns{
  text-decoration: none;
  color:  #91bed5;
 border-top-left-radius: 5%;
 border-bottom-left-radius: 5%;

}
.nextBttn{
  text-decoration: none;
  color:  #91bed5;;
}

.paginationActive>a{
  background-color:#041f45;
  color: white !important;
}