.reconciled-status-popup thead th {
  background-image: linear-gradient(#4a5158, #111314);
  font-size: 12px;
  color: white;
  padding-bottom: 0.5%;
}

.reconciled-status-popup tbody td{
  font-size: 12px;
}